/* 
* Skeleton V1.0.3
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 7/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */
	
/* #Site Styles
================================================== */   


html, body {
	height: 100%;         /* required */
}

body{
  background: #F7DC20;   /* Yellow  rgb(247,220,32*/     
  background: #c8d8a4;   /* Jason's Coffee Cup  rgb(200,216,164)*/    


  color:#545454;        /* Grey */
}  

div#distance { 
	margin-bottom: -10em; /* half of content height */
	width: 1px;           /* required to "hide" distance div */
	height: 50%;          /* required */
	float: left;          /* required */

}


div#content {
	position: relative;   /* positions content on top of distance */
	text-align: left;     /* horizontal centering hack for IE */
	height: 20em;         /* required - desired height */
	clear: left;          /* required */
}


#pursue_quote, #four_oh_four
{
	text-align: center; 
	font-family:"Gill Sans", GillSans, Calibri, Trebuchet, sans-serif;
	font-size: 20px; 
	line-height: 100px;     
  
}   


hr {
  height: 1px;
  border: none; 
  background:  #545454;        /* Grey */    
  background-image: -webkit-gradient(
      linear,
      left bottom,
      right bottom,
      color-stop(0, rgb(200,216,164)),
      color-stop(0.1, rgb(84,84,84)),
      color-stop(0.9, rgb(84,84,84)),
      color-stop(1, rgb(200,216,164))
  );
  background-image: -moz-linear-gradient(
      left center,
      rgb(200,216,164) 0%,
      rgb(84,84,84) 10%,
      rgb(84,84,84) 90%,
      rgb(200,216,164) 100%
  );
} 

 


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */
	
	/* iPad Portrait/Browser */
	@media only screen and (min-width: 768px) and (max-width: 991px) {}
	
	/* Mobile/Browser */
	@media only screen and (max-width: 767px) {
		div#distance {   
		   	height: 30% !important;          /* required */
		 
		}
	}
	
	/* Mobile Landscape/Browser */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}}
	
	/* Anything smaller than standard 960 */
	@media only screen and (max-width: 959px) {}
	
	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {}
	
	/* Mobile Only */
	@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}
	
	/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}
	

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file 
		Just create a "fonts" folder at the root, 
		copy your FontName into code below and remove
		comment brackets */
		
/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/